*{

    margin: 0px;
    padding: 0px;
}
h1{
    font: bold 20px verdana;
}
h2{
    font: bold 14px verdana ;
}
header , section , footer ,aside ,nav,article , hgroup {
    display: block;
}
body
{text-align: center;
    
}
#project_first{
    border: 1px solid blue;
    width: 1000px;
    margin: 20px auto;
    text-align: left;
}
#top_header{
    background: red;
    border: 1px solid blue;
    padding: 20px;
}
#top_menu {
    background: blue;
    color: white;
}
#top_menu li{
    display: inline-block;
    list-style: none;
    padding: 5px tahoma ;
}
#main_body{
    float: left;
    width: 660px;
    margin: 360px;  /* margin: 30px;  /* 720px , 280 left /*






